.root {
  color: #ffffff;
  text-align: center;
  font-weight: bold;

  margin: 1px 0.35em;
  padding: 0 5px;

  background-color: #222222;

  border-radius: 6px;

  cursor: pointer;

  display: inline-block;
}